{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
<div class="row">
 <div class="col-6 offset-1">
    <h1>{{ patient.nom }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                    <td>{{ patient.gender }}.{{ patient.nom }} {{ patient.prenom }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ patient.phone }}</td>
            </tr>
            <tr>
                <th>Date de passage</th>
                    <td>{{ patient.datedebut|date("d/m/Y H:i:s") }} à {{ patient.datefin|date("H:i:s") }}</td>
            </tr>
            <tr>
                <th>Description</th>
                    <td>{{ patient.body }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-dark" href="{{ path('app_patient_display') }}" role="button">Back</a>
    <div class="row float-right">
        <a class="btn btn-primary" href="{{ path('app_patient_edit', {'id': patient.id}) }}" role="button">edit</a>
        <td>&nbsp;</td>
        {{ include('patient/_delete_patient.html.twig') }}
    </div>
 </div>
</div>
{% endblock %}
